@using Wordcount.Models;
@{Html.RenderPartial("_navbar"); }
<div class="container">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="~/css/styles.css">
  <h2>Word list: @Model.GetId()</h2>
  <ul>
    <li>Word: @Model.GetCompare()</li>
    <li>Sentence: @Model.GetTo()</li>
    <li>Appearances of word in Sentence: @Model.Count()</li>
    <li>Scrabble Score of @Model.GetCompare(): @ScrabbleScore.ScoreIt(Model.GetCompare())</li>
  </ul>
  <form action="/game/@Model.GetId()/compare" method="post">
  <input id="compare" name="compare" type="text">
    <button type="submit" class="btn btn-warning" name="feed">Change the Word</button>
  </form>
  <form action="/game/@Model.GetId()/to" method="post">
  <input id="to" name="to" type="text">
    <button type="submit" class="btn btn-success" name="rest">Change the sentence</button>
  </form>
  <form action="/game/@Model.GetId()/" method="post">
    <button type="submit" class="btn btn-danger" name="rest">Delete this set of words</button>
  </form>
</div>
